html, body, *{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}

/*Header*/
header{
    box-shadow: 0 0 10px black;
    padding:1rem;
}
nav{
    display: flex;
}
.banner{
    font-size: 40px;
    letter-spacing: 2px;
}
/*/Header*/

/*Search section*/
#search-field{
    padding:2rem;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#search-text{
    padding:0.5rem;
    font-size: larger;
    border-radius: 20px;
    border: 1px solid black;
    outline-style: none;
}

.search-btn{
    padding:0.6rem;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
}
.search-btn:hover{
    background-color: black;
    color:white;
    cursor:pointer;
}

.list{
    text-align: left;
    padding-top:1rem;
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

.list li{
    padding: 0.2rem;
}

.list li input:hover{
    cursor: pointer;
}
/*/Search section*/

/*Response output*/
#response{
    padding:2rem;
    border-top:1px solig black;
}
#weather{
    padding:1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#attractions{
    padding:1rem;
}
article{
    border: 2px solid;
    margin:1rem;
    padding:0.5rem;
    display:inline-block;
    border-radius: 20px;
    line-height: 1.6;
}
/*/Response output*/

/* Footer */
footer{
    padding:1rem;
    box-shadow: 0 0 10px black;
}

footer ul {
    display: flex;
}

/* /Footer */

/* Style classes*/

.fs-20{
    font-size: 20px;
}

.d-inline-b{
    display: inline-block;
}

.p-1{
    padding:1rem;
}
.center{
    text-align: center;
}

.rounded{
    border-radius: 20px;
}

.t-center{
    text-align: center;
}


.d-inline-f{
    display: inline-flex;
}

.mb-1{
    margin-bottom: 1rem;
}

.btn{
    padding:0.3rem;
    border:1px solid black;
    text-decoration: none;
    color:black;
    font-weight: bolder;
}

.btn:hover{
    background-color: black;
    color:white;
}

.pb-03{
    padding-bottom: 0.5rem;
}

.space{
    justify-content: space-around;
}
/* /Style classes*/

/*Bigger screens*/
@media screen and (min-width:900px){
    .center{
        text-align: left;
    }
    .d-flex{
        display: flex;
    }

    .mb-1{
        margin-bottom: 0;
    }

    .list{
        padding:0;
    }
}
/* /Bigger screens*/